@media all and (min-width: 900px) {
	#nav {
		width: 300px;
		float: left;
		margin-right: 20px;
	}
	#content {
		width: 550px;
		float: left;
	}
}

@media all and (max-width: 899px) {
	#nav {
		width: 100%;
	}
	#content {
		width: 100%;
	}
}

.ui-bar {
	height: 120px;
}